<h1>Hello Manager</h1>

<select id="m1" onchange="manage()">
    <option value="{{data}}">{{data}}</option>
    <option value="{{data1}}">{{data1}}</option>
</select>
<br>
<br>
<p id='demo'></p>

<p id='demo1'></p>
<br>

<p id='demo2'></p>
